@font-face {
    font-family: Inter;
    src: url('../../Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}


/* Menubar Styling */


#nav-logo img{
   height: 80px;
}

.navbar {
    padding: 0.5rem 1rem;
    font-family: Inter;
    font-weight: 400;
  }
  
  .nav-link {
    font-size: 1rem;
    margin: 0 1rem;
    color: black;
 
  }
  
  .btn-outline-danger, .btn-danger {
    font-size: 12px;
    padding: 9px 43px;
    border-radius: 90px;

  }

  .btn-outline-danger{
    border: 2px solid;
  }

  
  .signup-button-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 30px;
  }
  

  
  @media (max-width: 991.98px) {
    .navbar-collapse {
      text-align: center;
    }
    
    .nav-link {
      margin: 0.5rem 0;
    }
    
    .navbar-nav.ms-auto {
      margin-top: 1rem;
    }

    .btn-outline-danger, .btn-danger {
        font-size: 12px;
        padding: 9px 43px;
        border-radius: 90px;
     
      }
  }
